body {
    font-size: 16px; /* Set a base font size for the root element */
    align-content: center;
    justify-content: start;
}

p {
    font-size: 1rem; /* 1rem is equal to the root element's font size (16px) */
}

a {
    font-size: 1rem; /* 1rem is equal to the root element's font size (16px) */
}

h1 {
    font-size: 2rem; /* 2rem will be twice the root element's font size (32px) */
}

@media (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    p {
        font-size: 0.6rem; /* 0.9rem is 90% of the root font size (14.4px) */
    }

    a {
        font-size: 0.6rem; /* 1rem is equal to the root element's font size (16px) */
    }

    h1 {
        font-size: 1rem; /* 1.8rem is 90% of the root font size (28.8px) */
    }
}

.color-nav {
    color: #f0eff2 !important;
    align-content: center;
    justify-content: start;
    background-color: #530876;
    height: 5rem;
}

.footer {
    color: #f0eff2 !important;
    align-content: center;
    justify-content: start;
    background-color: #530876;
    height: 100%;
    textAlign: "center";
    position: "fixed";
    left: "0";
    bottom: "0";
    height: "5rem";
    width: "100%";
    display: 'block';
}

.link-nav {
    color: #f0eff2 !important;
    text-decoration: none;
    font-size: 1rem;
}

.link-nav:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.link-dropdown {
    color: #64748b !important;
    text-decoration: none;
}

.link-dropdown:hover {
    color: #000000 !important;
    text-decoration: none;
}

.link-primary {
    color: #64748b !important;
    text-decoration: none;
}

.link-primary:hover {
    color: #000000 !important;
    text-decoration: none;
}


.btn-primary {
    color: black;
    background-color: #53e537;
    border: #53e537;
}

.btn-primary:hover {
    color: white;
    background-color: #fe0000;
}

.btn-primary:active:focus {
    color: white;
    background-color: #fe0000;
}

#nav-dropdown {
    color: #f0eff2;
    background-color: #530876;
}

#nav-dropdown:hover {
    color: white;
    background-color: #530876;
}

.itemsdropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.itemsdropdown:empty {
    border: none;
}

.itemdropdown {
    cursor: zoom-in;
    text-align: start;
    margin: 2px 0;
}

#map {
    width: 600px;
    height: 600px;
    padding: 0;
    margin: 0;
}
