{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
                    <Helmet>
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}"><link rel="stylesheet" href="{% static 'css/L.Control.Locate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/qgis2web.css' %}"><link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet-control-geocoder.Geocoder.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet-measure.css' %}">
            </Helmet>
    <title>lgvnonmerci</title>
</head>

<body>
<div id="app">
    <div id="nav"></div>
    <div id="main"></div>
    <div id="footer"></div>
</div>
<script>
    window.django = {
        auth: "{{ user.is_authenticated }}",
        user: {
            username: "{{ request.user.username }}",
            full_name: "{{ request.user.get_full_name }}",
            last_login: "{{ request.user.last_login }}",
        }
    };
</script>
 
<script src="{% static 'frontend/js/main.js' %}"></script>
</body>
</html>
